# 윈도우 사용자
desktop.ini
Thumbs.db

# 맥 사용자
._*
.DS_Store
.Spotlight-V100
.Trashes

# 보안 설정 파일
**/application-secret.yml
**/application-secret.yaml
**/*secret*.yml
**/*secret*.yaml
**/secrets.properties
**/.env
**/*.env
.idea